<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Albums</title>
</head>
<body>
<h1>Albums</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Number</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Sub Genre</th>
        <th>Year</th>
        <th>Image Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
        <td th:text="${album.id}"></td>
        <td th:text="${album.number}"></td>
        <td th:text="${album.title}"></td>
        <td th:text="${album.artist}"></td>
        <td th:text="${album.genre}"></td>
        <td th:text="${album.subGenre}"></td>
        <td th:text="${album.albumYear}"></td>
        <td th:text="${album.imageLink}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
